$custom-theme-color:(
        geof-color-1: $geof-color-1,
        geof-color-2: $geof-color-1,
        geof-color-3: $geof-color-3,
        geof-color-4: $geof-color-4,
        geof-color-link-hover:$color-link-hover,
)